<main>
    <div class="about_box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwoVePu1VUuZGPLRVk75uqezCU23gP7nKr-A&s">
        <h1>Impresso Coffee & Bar</h1>
            <p>"IMPRESSO: Where coffee meets cocktails, and every visit feels like a celebration! 
            We're not your ordinary coffee bar; we're your pet-friendly haven with a stylish vibe, friendly staff, and a resident cat named Petunia.
            Explore a world of unique gin, flavored coffee, and reimagined cocktails in a fun, inviting atmosphere. Whether you're young or young at heart, join our community of friendly folks and make every moment crave-worthy. 
            See you soon at IMPRESSO!"
        </p>
        <div class="social_links">
            <a href="https://www.facebook.com/impresso.ro/" ><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/impresso.bar/"><i class='bx bxl-instagram-alt'></i></a>
        </div>
    </div>
</main>