    <main>
    <div class="contact_box">
        <h1>Hours</h1>
        <div class="hours">
            <p>Wednesday 9AM – 11PM</p>
            <p>Thursday 9AM – 11PM</p>
            <p>Friday 9AM – 11PM</p>
            <p>Saturday 9AM – 11PM</p>
            <p>Sunday 9AM – 11PM</p>
            <p>Monday 9AM – 11PM</p>
            <p>Tuesday 9AM – 11PM</p>
        </div>
        <div class="telefon">
            <h2>Telefon</h2>
            <p>0724956555</p>
        </div>
        <div class="social_links">
            <a href="https://www.facebook.com/impresso.ro/" ><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/impresso.bar/"><i class='bx bxl-instagram-alt'></i></a>
        </div>
    </div>
    </main>
